.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.dialogsItems {
    text-decoration: none;
    color: white;
    padding: 10px;
}
/*.dialogsItems .active {*/
/*    color: gold;*/
/*}*/

.messages {
    color: seagreen;
    padding: 10px;
}

.area {
    display: flex;
    justify-content: flex-end;
}

/*.messages .message {*/

/*}*/

